name: Validate mock-provider

on:
  # Manual trigger
  workflow_dispatch:
  # Cron schedule for every weekday at 4 PM GMT
  schedule:
    - cron: '0 16 * * 1-5'

jobs:
  validate:
    name: Validate mock-provider
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: '16'
          check-latest: true
      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Get specification swagger
        uses: wei/curl@61d92b5169ea0425820dd13cf6fbad66b483e9f1 # v1.1.1
        with:
          args: -o specification-swagger.yaml https://raw.githubusercontent.com/fiatconnect/specification/main/swagger.yaml
      - run: yarn
      - run: yarn validate
        env:
          BASE_URL: ${{ secrets.MOCK_PROVIDER_BASE_URL }}
          CLIENT_API_KEY: ${{ secrets.MOCK_PROVIDER_API_KEY }}
          PROVIDER_ID: ${{ secrets.MOCK_PROVIDER_ID }}
          OPENAPI_SPEC: specification-swagger.yaml
          QUOTE_OUT_MOCK: quoteNigeriaCUSD
          FIAT_ACCOUNT_MOCK: accountNumberNigeria
          KYC_MOCK: personalDataAndDocumentsNigeria
      - uses: ravsamhq/notify-slack-action@be814b201e233b2dc673608aa46e5447c8ab13f2 # 2.5.0
        if: always()
        with:
          status: ${{ job.status }}
          notification_title: '{workflow} has {status_message}'
          message_format: '{emoji} *{workflow}* {status_message}. <{run_url}|View Run>'
          footer: 'Repo: <{repo_url}|{repo}>'
          notify_when: 'failure'
          # Tag @eng-activation on failures
          mention_groups: 'S02G1BH7D08'
          mention_groups_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
